spring:
  datasource:
    hikari:
      connectionTimeout: 15000
      maximumPoolSize: 5
    password: {{ secret "postgres_password" }}
    url: jdbc:postgresql://db:5432/accountant
    username: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  jooq:
    sql-dialect: POSTGRES
  main:
    banner-mode: off
  sql:
    init:
      mode: always

server:
  ssl:
    key-store: /run/secrets/sgapplication.p12
    key-store-password: {{ secret "key_store_password" }}
    key-store-type: pkcs12
    key-alias: 1
    key-password: {{ secret "key_password" }}
  port: 8443

nodrigen:
  service-url: https://ob.nordigen.com/api/v2/

cron:
  fetch-accounts: "0 0 11,15,20 * * *"
  fetch-accounts-monthly: "0 58 23 * * *"
  fetch-transactions: "0 5 11,15,20 * * *"

aws:
  intellectual-property-task:
    attachments:
      bucket-name: intellectualpropertytask